.homeWhoWeHelp-container {
  height: 90vh;
  h1{
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 35px;
  }
}
.homeWhoWeHelp-steps-wrapper {
  background-color: $white;
  display: flex;
  justify-content: center;
  height: 35vh;
}
.HomeWhoWeHelp-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.HomeWhoWeHelp-button {
  background-color: #fff;
  border: none;
  margin: 1px 30px;
  outline: none;
  padding: 10px 10px;
  height: 80px;
  width: 220px;
  font: $font-base;
  font-size: 24px;
  font-weight: 400;
  &:hover {
    cursor: pointer;
  }
}
.HomeWhoWeHelp-button1 {
  background-color: #fff;
  border: 1px solid $grey;
  margin: 1px 30px;
  outline: none;
  padding: 10px 10px;
  height: 80px;
  width: 220px;
  font: $font-base;
  font-size: 24px;
  font-weight: 400;
  &:hover {
    cursor: pointer;
  }
}
.HomeWhoWeHelp-pagination-wrapper {
  display: flex;
  justify-content: center;
}
.HomeWhoWeHelp-pagination {
  list-style: none;
  padding: 0;
  margin: 10px;
  li {
    display: flex;
    justify-content: space-between;
    font-family: $font-alt;
    width: 1000px;
    padding: 10px;
    margin-top: 20px;
    &:nth-child(-n+2){
      border-bottom: 1px solid $grey;
    }
  }
}
.HomeWhoWeHelp-pagination-numbers {
  display: flex;
  justify-content: center;
  list-style: none;
  li {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
  }
}
.HomeWhoWeHelp-pagination-numbers li.active {
  border: 1px solid $grey;
}
.HomeWhoWeHelp-li-title{
  font-size: 28px;
}
.HomeWhoWeHelp-li-description {
  font-style: italic;
}
.HomeWhoWeHelp-li-tags {
  display: flex;
  width: 300px;
  align-items: center;
}
.HomeWhoWeHelp-descriptions-wrapper{
  display: flex;
  justify-content: center;
}
.HomeWhoWeHelp-descriptions {
    text-align: center;
    margin-top: 30px;
    width: 600px;
}