.LogHeader {
  margin-left: 48%;
  display: flex;
  flex-direction: column;
  height: 20vh;
  width: 50%;
}
.Logform-container{
  display: flex;
  width: 100vw;
  height: 25vh;
}
.LogForm-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 40%;
  width: 20%;
  background-color: $white;
}
.Log-email, .Log-pass {
  border-bottom: 1px solid black ;
  border-right: none;
  border-top: none;
  border-left: none;
  outline: none;
  margin-top: 20px;
  line-height: 23px;
  background: none;
}
.Log-email-wrapper {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 14px;

}
.Log-button-wrapper {
  display: flex;
  justify-content: center;
}
.Log-button {
  margin-right: 7%;
  margin-top: 45px;
  height: 50px;
  width: 150px;
  background: none;
  cursor: pointer;
  outline: none;
  border: none;
}
.Log-button1 {
  margin-left: 7%;
  margin-top: 45px;
  height: 50px;
  width: 150px;
  background: none;
  border: 1px solid black;
  cursor: pointer;
  outline: none;
}
